body {
  background-color: #F3D8C7;
}

h1 {
  text-align: center;
  color: #412234;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
}

h2 {
  color:#BD6B73;
  font-size: 20px;
}

h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

p{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
  background-color: #412234;
  border-radius: 10px;
  color: white;
}

.input{
  background-color: #412234;
  color: #F3D8C7;
}

.hidden {
  display: none;
}