body {
  background-color: #F3D8C7;
}

h1 {
  text-align: center;
  color: #412234;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

h2 {
  color:#BD6B73;
}

h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
p {
  text-align: center;
}

.hidden {
  display: none;
}